{% extends 'base_dashboard.html' %}
{% block title %}Staff Dashboard{% endblock %}

{% block content %}
<div class="dashboard-card mb-4">
    <h5 class="fw-bold mb-3"><i class="bi bi-info-circle text-primary"></i> Staff Info</h5>
    <p><strong>Positions :</strong> {{ staff.position }}</p>
    <p><strong>Phone :</strong>{{ staff.phone }}</p>
    <p><strong>Bio :</strong>{{staff.bio}}</p>
</div>

<div class="dashboard-card">
    <h5 class="fw-bold mb-3"><i class="bi bi-journal-bookmark text-success"></i> Assigned Classes</h5>
    <ul>
        {% for cls in teacher.classes.all %}
        <li>{{ cls.name }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
