{% extends 'base_dashboard.html' %}

{% block title %}Teacher Dashboard{% endblock %}

{% block content %}
<div class="dashboard-card mb-4">
    <h5 class="fw-bold mb-3"><i class="bi bi-info-circle text-primary"></i> Teacher Info</h5>
    <p><strong>Subjects:</strong>  {% for sub in teacher.subjects.all %} {{ sub.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p><strong>Bio:</strong>{{teacher.bio}}</p>
</div>

<div class="dashboard-card">
    <h5 class="fw-bold mb-3"><i class="bi bi-journal-bookmark text-success"></i> Assigned Classes</h5>
    <ul>
        {% for cls in teacher.classes.all %}
        <li>{{ cls.name }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
